@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
        .custom-border2 {
            border: 0.1px solid #854CE6;
            box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
        }
                                .border-none {
                                    border: none !important;
                                }
                
                                .focus:border-none:focus {
                                    border: none !important;
                                }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}
